# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# System files
.DS_Store
.env

# Iac
.terraform
.terraform.lock.hcl
mysavedplan.tfplan
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

# Deploy files
app.zip
*.zip
*.jar