# Environment Variables Example
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=vietstar_shipping

# Tracking configs
# Sign up at sentry.io to get your PHP DSN URL
SENTRY_DSN=
# Sign up at clarity.microsoft.com to get your ID (approx 10 chars)
CLARITY_ID=

# SSL Configuration (Let's Encrypt)
# Keep empty if you do not have a domain yet
DOMAIN=
ADMIN_EMAIL=
